<!-- The update form, used in Admin LS, Admin User and account settings -->
<section class="update">
    <h3>UPDATE data</h3>
    <form id="updateForm" name="updateForm" >
        <div class="input">
            <label for="id"> ID </label>
            <input type="text" id="id" name="id" placeholder="ID">
        </div>
        <br>
        <div class="input">
            <label for="updateUsername"> Username </label>
            <input type="text" id="updateUsername" placeholder="Username">
        </div>
        <br>
        <div class="input">
            <label for="updateName"> Full name </label>
            <input type="text" id="updateName" placeholder="Full Name">
        </div>
        <br>
        <div class="input">
            <label for="updateEmail"> Email </label>
            <input type="text" id="updateEmail" placeholder="Email">
        </div>
        <br>
        <div class="input">
            <label for="updateNumber"> Phone Number </label>
            <input type="text" id="updateNumber" placeholder="Phone Number">
        </div>
        <br>
        <button type="submit" id="formButton" name="formButton" >Update</button>
    </form>
</section>

<!-- We use this ejs file a few times in the system, one of them is in account settings for the user.
 The user should not be able to delete its own user, and therefore the below form is only shown whenever the admin is logged in.-->
<% if(admin) { %>
<section class="delete">
    <h3>DELETE</h3>
    <form id="deleteUser">
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <div class="input">
                    <label>ID</label>
                    <input type="text" placeholder="ID" id="deleteUserId" name="deleteUserId">
                </div>
            </div>
        </div>
        <button type="submit"> Delete LineStander</button>
    </form>
</section>
<% } %>