<div class="container">
    <p>Please fill in this form to create an account.</p>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label for="usernameCustomer"><b>Username</b></label>
            <input type="text" placeholder="Username" id="usernameCustomer" name="username">
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="password" name="password">
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="fullName"><b>Full Name</b></label>
            <input type="text" placeholder="Full Name" id="fullName" name="fullName">
        </div>
    </div>
    <br>

    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" id="email" name="email">
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="phoneNumber"><b>Phone Number</b></label>
            <input type="text" placeholder="Phonenumber" id="phoneNumber" name="phoneNumber">
        </div>
    </div>
    <br>
    <hr>
    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="streetName"><b> Street name </b></label>
            <input type="text" placeholder="enter street name" id="streetName" name="streetName">
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="streetNumber"><b>  Street number</b></label>
            <input type="text" placeholder="street number" id="streetNumber" name="streetNr">
        </div>
    </div>
    <br>

    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="zipCode"><b>zip code</b></label>
            <input type="text" placeholder="Zip Code" id="zipCode" name="zipCode">
        </div>
    </div>

    <br>
    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="city"><b>City name</b></label>
            <input type="text" placeholder="enter your city" id="city" name="city">
        </div>
    </div>
    <br>

    <div class="control-group">
        <div class="form-group floating-label-form-group control">
            <label for="country"><b>Country</b></label>
            <input type="text" placeholder="country" id="country" name="country">
        </div>
    </div>
    <br>
    <hr>
</div>
