<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header.ejs');-%>
<body>

<%- include('layouts/navbar.ejs');-%>

<div style="text-align:center;">
<h1 style="font-size: 60px">
    Skip the Line
</h1>

<p style="font-size: 35px"><b>Welcome to Skip The Line</b>
</p>

<p style="font-style: italic"> In collaboration with Meyers you can order food through SkipTheLine and get your food delivered where ever you'd like on Roskilde Festival! </p>


</div>


<br>

<div>
<p> How it works:</p>
<br>
<ol style="text-align: left">
    <li>Sign-up or create a user</li>
    <br>
    <li>Choose your products and add them to your shopping cart</li>
    <br>
    <li>Choose delivery location</li>
    <br>
    <li>Your meal will be delivered to your location</li>
    <br>
    <li>Enjoy!</li>
</ol>
</div>


<%- include('layouts/scripts');-%>
</body>


</html>