<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header.ejs');-%>
<body>

<%- include('layouts/navbar.ejs');-%>

<h1>
    Skip the Line
</h1>

<p>
    Welcome to Skip The Line
</p>
<%- include('layouts/scripts');-%>
</body>


</html>