<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>
<body>
<%- include('layouts/navbar'); -%>
<h1>Log out</h1>

<form>
    <div class="control-group">
        <button type="submit" class="logout-btn">Logout</button>
    </div>
</form>
<%- include('layouts/scripts');-%>
</body>
</html>