<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>




<form action="/product/new" method ="POST" enctype="multipart/form-data">
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>New product</label>
            <input type="text" class="form-control" placeholder="Product name" id="productName" name="productName">
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>Price</label>
            <input type="number" class="form-control" placeholder="Product price" id="price" name="price">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="addProduct">Add order</button>
    </div>
</form>


<%- include('layouts/scripts');-%>

</body>

</html>