<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<%- include('layouts/navbar.ejs');-%>
<h1>
    Register as a new user here
</h1>
<hr>
<% if(errors != null && errors.length > 0) { %>
    <% for(var i = 0; i <errors.length; i++) { %>
        <li class="list-group-item list-group-item-danger"> <%= errors[i] %> </li>
    <% } %>
    <% } %>


<form action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <p>Please fill in this form to create an account.</p>
<div class="control-group">
     <div class="form-group floating-label-form-group controls">
        <label for="username_customer"><b>Username</b></label>
        <input type="text" placeholder="Username" id="username_customer" name="username_customer">
    </div>
</div>
        <br>
<div class="control-group">
    <div class="form-group floating-label-form-group control">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password">
    </div>
</div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="first_name"><b>First Name</b></label>
                <input type="text" placeholder="First name" id="first_name" name="first_name">
            </div>
        </div>
        <br>

        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="last_name"><b>lastname</b></label>
                <input type="text" placeholder="last name" id="last_name" name="last_name">
            </div>
        </div>
        <br>

        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter email" id="email" name="email">
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="phone_number"><b>Phone Number</b></label>
                <input type="text" placeholder="Phonenumber" id="phone_number" name="phone_number">
            </div>
        </div>
        <br>
        <hr>
        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="streetName"><b> Street name </b></label>
                <input type="text" placeholder="enter street name" id="streetName" name="streetName">
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="streetNumber"><b>  Street number</b></label>
                <input type="number" placeholder="street number" id="streetNumber" name="streetNumber">
            </div>
        </div>
        <br>

        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="zipCode"><b>zip code</b></label>
                <input type="text" placeholder="zip-code" id="zipCode" name="zipCode">
            </div>
        </div>

        <br>
        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="cityName"><b>City name</b></label>
                <input type="text" placeholder="enter your city" id="cityName" name="cityName">
            </div>
        </div>
        <br>

        <div class="control-group">
            <div class="form-group floating-label-form-group control">
                <label for="countryName"><b>Country</b></label>
                <input type="text" placeholder="country" id="countryName" name="countryName">
            </div>
        </div>
        <br>
        <hr>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
</form>

<%- include('layouts/scripts');-%>
</body>

</html>
