<!DOCTYPE html>

<html lang="en">
<%- include('layouts/header.ejs');-%>

<body>
<h1>
    Register as a new user here
</h1>

<form action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <p>Please fill in this form to create an account.</p>
        <hr>
<div class="control-group">
     <div class="form-group floating-label-form-group controls">
        <label for="Username"><b>Username</b></label>
        <input type="text" placeholder="Username" id="username" name="username">
    </div>
</div>

        <br>

<div class="control-group">
    <div class="form-group floating-label-form-group control">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password">
    </div>
</div>
        <br>
        <hr>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
</form>

</body>

</html>
