body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: deeppink;
}

section {
    float: left;
    padding: 10px;
    margin: 15px;
    width: 285px;
    box-shadow: 3px 3px 1px #34495e;
    min-height: 400px;
}

section:first-of-type {
    margin-left: 0;
}

section:last-of-type {
    margin-right: 0;
}

section h3 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.insert {
    background: #2ecc71;
}

.get {
    background: bisque;
}

.getProducts {
    background: orange;
}

.update {
    background: darkorange;
}

.new_product {
    background: coral;
}

.delete {
    background: orangered;
}

.put {
    background: orange;
}

.getDelivered {
    background: darkorange;
}

.input label {
    display: block;
    font-weight: bold;
    padding: 2px 0;
}

input,
button {
    font: inherit;
}

button {
    margin-top: 10px;
    border: none;
    box-shadow: 1px 1px 1px #34495e;
    border-radius: 0;
    background: #ecf0f1;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 60px;
    background-color: darkorange;
    opacity: .9;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}

button:hover {
    background: orangered;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 200px;
    height: 60px;
}
ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

ul li a:hover {
    color: orangered;
    font-weight: bold;
}